h1 {
    color: rgb(139, 216, 139);
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    background-color: slateblue;
}

/*this is a single line comment*/

/*This comment takes up multiple rows*/
#second-paragraph {
    color: purple;
}
p { 
    color: orange;
}

.dog-info, .last-paragraph {
    color:seagreen;
}



