h1 {
    color: #2e3332;
    font-size: 50px;
    font-weight: 500px;
    font-style: serif;
    text-align: center;
    background-color:#F7e5b7;
}

/*this is a single line comment*/

/*This comment takes up multiple rows*/

h3 {
    color: #2E3332;
    font-style: serif;
}

h4 {
    color: #2E3332;
    font-style: serif;
}

/*#second-paragraph {
    color: #445a67;
    */

p { 
    color: #445a67;
    font-size: 17px;
    font-style: serif;

}


img {
    height: 200px;
    width: auto;
    margin: 50px 250px 80px 250px;
    border-width: 10px;
    border-style: inset;
    border-color: #96B3C2;
    border-radius: 5px;
    box-shadow: 10px 10px 20px #2e3332;

}

footer {
    color:#57838D;
    font-size: 20px;
    font-weight: 200px;
    font-style: serif;
    text-align: center;

}